* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body {
    font-family: "Roboto", serif;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-size: 1rem;
   
}


#wrapper {
    display:grid;
    grid-template-columns: minmax(0px, 1fr) repeat(3, minmax(150px, 1fr)) minmax(0px, 1fr);
    grid-template-rows: minmax(0px, 1fr);
   ;
}

header {
    grid-column: 2 / -2;
    grid-row: 1 / 2;
    order:2;
}

nav {
    grid-column: 2 / -2;
    grid-row: 2 / 3;
   
}

div#hero {
    grid-column: 2 / -2;
    grid-row: 3 / 4;
    height:300px;
    
}

main {
    grid-column: 2 / -2;
    grid-row: 4 / 5;
    background-color:#fff;

}

footer {
    grid-column: 2 / -2;
    grid-row: 5 / 6;
}




#container {
    background-color: #fff;
    width:80vw;
    margin:0 auto 50px auto;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    
}

header h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin:0;
    padding:0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

#hero {
    background-image: url('images/flat-earth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% 60%;
    padding:100px 40px;
    text-align: right;
}

#hero a#button{
   background-color:coral;
    display:inline-block;
    padding:10px 20px;
    border:2px solid #333;
    color:#fff;
    text-decoration: none;
    border-radius: 5px;
}


main {
    padding:25px;
}

main h1 {
    border-bottom: dashed 3px #333;
}

img.responsive {
    width:50%;
    height:auto;
   opacity: 1;
}

.right {
    float:right;
    margin:0 0 10px 10px;

}

.clear {
    clear:both;
}


nav {
    background-color:coral;
}

nav {
    padding:0;
    margin:0;
    display:flex;
    flex-flow:row nowrap

   
}


nav a {
    padding:10px 20px;
    color:#fff;
    background-color:coral;
    text-decoration: none;
}

nav a:hover {
    background-color:rgba(0,0,0,0.1);
}

.blue {
    color:blue;
}